{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:10px">
  <div class="row">
      <div class="col-md-12">
      <div class="card border-primary text-center mb-3">
        <div class="card-body">
          <p class="card-text">{{ question.text }}</p>
          {% if length == 0%}
          <form action="{{ url_for('games') }}" method="post">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Вернуться к выбору квеста"/>
          </form>
          {% endif %}
        </div>
      </div>
      </div>
  </div>
  <div class="row">
    {% for ans in answers %}
      <div class="col-sm-6">
      <div class="card border-primary text-center mb-3">
        <div class="card-body">
          <p class="card-text">{{ ans.text }}</p>
          <form action="{{ url_for('game') }}" method="post">
            <input type="hidden" name="quest" value="{{ ans.nextqID }}"/>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Выбрать"/>
          </form>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
