{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:10px">
  <div class="row">
      <div class="col-md-12">
      <div class="card border-primary mb-3">
        <div class="card-body">
          <p class="card-text">Нашлись те, кто осмелился прижать к стенке управляющих домами и узнать правду. По прошествии 2 недель вас обвиняют в даче взятки, а управляющих домами в мошенничестве. Вы отбываете наказание в соседних камерах</p>
          <button type="button" class="btn btn-primary btn-lg btn-block" style=''>Вернуться к выбору персонажа</button>
        </div>
      </div>
      </div>
  </div>
</div>
{% endblock %}
